{% extends 'vendor/carew/theme-bootstrap/layouts/default.html.twig'%}

{% block nav_right %}
  <ul class="nav pull-right">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Other OSS project">
        Lyrixx
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="http://github.com/lyrixx/Silex-Kitchen-Edition" target="_blank">
            Silex Kitchen Edition
          </a>
        </li>
        <li>
          <a href="http://github.com/lyrixx/lifestream" target="_blank">
            Lifestream
          </a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">Follow me on</li>
        <li>
          <a href="http://github.com/lyrixx" target="_blank">
            Github
          </a>
        </li>
        <li>
          <a href="http://twitter.com/lyrixx" target="_blank">
            Twitter
          </a>
        </li>
        <li>
          <a href="http://gregoirepineau.fr" target="_blank">
            My Personal Homepage
          </a>
        </li>
        <li>
          <a href="http://gregoirepineau.fr" target="_blank">
            My Blog
          </a>
        </li>
      </ul>
    </li>
  </ul>
{% endblock %}
